<h2 class="text-center post-header">Social Platforms</h2>
<br>
<div class="social text-center">
    <a href="https://github.com" target="_blank"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://stackoverflow.com/" target="_blank"><i class="fab fa-stack-overflow fa-3x"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
</div>